:root {
  --u: #66d9ef;
  --s: #f92342;
  --e: #8d81ff;
  --r: #99e227;
}
body {
  margin: 0;
}
.org-logo {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(2, 50%);
}
.org-logo > div {
  width: 10vh;
  height: 10vh;
}
.org-logo > div:nth-child(1) {
  background-color: var(--u);
}
.org-logo > div:nth-child(2) {
  background-color: var(--s);
}
.org-logo > div:nth-child(3) {
  background-color: var(--e);
}
.org-logo > div:nth-child(4) {
  background-color: var(--r);
}
