:root {
  --u: #66d9ef;
  --s: #f92342;
  --e: #8d81ff;
  --r: #99e227;
  --logo-chars-size: 4rem;
}
body {
  margin: 0;
  display: grid;
  height: 100vh;
}
.org-logo {
  margin: auto 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "u s" "title title" "e r";
  justify-items: center;
}
.org-title {
  grid-area: title;
  text-align: center;
}
.org-logo > div:not(.org-title) {
  width: 15vh;
  height: 15vh;
}
.org-logo > div:nth-child(1) {
  background-color: var(--u);
  grid-area: u;
}
.org-logo > div:nth-child(2) {
  background-color: var(--s);
  grid-area: s;
}
.org-logo > div:nth-child(3) {
  background-color: var(--e);
  grid-area: e;
}
.org-logo > div:nth-child(4) {
  background-color: var(--r);
  grid-area: r;
}
@media screen and (max-width: 450px) {
  .org-title {
    display: none;
  }
  .org-logo > div:not(.org-title) {
    position: relative;
    min-height: var(--logo-chars-size);
    min-width: var(--logo-chars-size);
  }
  .org-logo > div:not(.org-title)::before {
    position: absolute;
    top: 50%;
    font-size: var(--logo-chars-size);
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
  }
  .org-logo > div:not(.org-title):nth-child(odd) {
    justify-self: end;
  }
  .org-logo > div:not(.org-title):nth-child(even) {
    justify-self: start;
  }
  .org-logo > div:nth-child(1)::before {
    color: var(--s);
    content: "u";
  }
  .org-logo > div:nth-child(2)::before {
    color: var(--u);
    content: "s";
  }
  .org-logo > div:nth-child(3)::before {
    color: var(--r);
    content: "e";
  }
  .org-logo > div:nth-child(4)::before {
    color: var(--e);
    content: "r";
  }
}
